@import url('https://fonts.googleapis.com/css2?family=Georgia&family=Arial+Black&display=swap');
nav{
    background-color: aquamarine ;
    padding: 25px;
    width:auto;
}
.hero img {
    display:block;
    width: 100%;
    height: auto;
    
}


article{
   
    background-color: navy, transparent;
    width: auto;
    height: auto;
}
img{
    width: auto;
    height: auto;
}
