nav{
    background-color: aquamarine ;
    padding: 25px;
}
h1{
    background-color: aquamarine ;
    padding: 25px;
}

nav a {
    color: dimgray;
    display: block;
    padding: 20px;
}

h1{
    color: dimgray;
}
h2{
    color: dimgray;
}
h3{
    color: dimgray;
}
h4{
    color: dimgrey;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid aquamarine;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
    width: 350;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid aquamarine;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}


body {
    font-family: Georgia;
}
h1, h2, h3, h4 {
    font-family: 'Arial Black';
    padding: 20px;
}
