@import url('https://fonts.googleapis.com/css2?family=Georgia&family=Arial+Black&display=swap');
nav{
    background-color: aquamarine ;
    padding: 25px;
    width:auto;
}


nav a {
    color: dimgray;
    display: block;
    padding: 20px;
    
}
header{
    background-color: aquamarine;
    padding: 20px;
    width: auto;

}

h1, h2, h3,h4,h5,h6{
    color: dimgray;
}


img {
    width: 250px;
    height: auto;
    border: 1px solid aquamarine;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
    width: 600px;
    font-family: Georgia;
}

main img {
    width: 250px;
    height: auto;
    border: 1px solid aquamarine;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}


body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4 {
    font-family: 'Arial Black';
    padding: 20px;
}
:root {
    --main-bg-color: dimgray;
  }
  
 
  .one {
    background-color: var(--main-bg-color);
  }
  .two {
    color: black;
    background-color: aquamarine;
  }
  .three {
    background-color: var(--main-bg-color);
  }
  .four {
    background-color: var(--main-bg-color);
  }
  .nav a {
    background-color: var(--main-bg-color);
  }
  *{
    margin: 0;
    padding: 0
    box-sizing: border-box;
  }

  .box{
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;

  }

  aside{
    width: 20em;
    text-align: center;
  }
  
  main img {
    float: right;
  }


